---
BasedOnStyle: Google
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
IndentWidth: '4'
NamespaceIndentation: None
SpaceAfterCStyleCast: false
TabWidth: '4'
UseTab: Never
ConstructorInitializerIndentWidth: 0
AccessModifierOffset: -4

...
